<section id="viewAddhotel">
    <h2>Add new hotel</h2>
    <form id="formAddhotel" method="post" action="/hotel/create">
        <label for="name">Hotel name:</label>
        <input type="text" id="hotel" name="name" placeholder="Hotel name" value="{{body.name}}">
        <label for="city">City:</label>
        <input type="text" id="city" name="city" placeholder="City" value="{{body.city}}">
        <label for="rooms">Free rooms:</label>
        <input type="number" id="free-rooms" name="rooms" placeholder="Free rooms" value="{{body.rooms}}" >
        <label for="imageUrl">Image:</label>
        <input type="text" id="imageUrl" name="imageUrl" placeholder="https://" value="{{body.imageUrl}}">

        <input type="submit" class="create" value="Add">
    </form>
</section>
