<section>
    <h1>Create New Facility</h1>
    <main>
        <form class="aligned" action="/facility/create" method="post">

            <div class="col aligned">
            <label><span>Label</span><input type="text" name="label"></label> {{!-- the <span> is because of the css --}}
            <label><span>Icon URL</span><input type="text" name="iconUrl"></label>
            </div>
            <div class="align-center">
                <input type="submit" value="Publish item"></label>
            </div>
        </form> 
    </main>
</section>
