<section> {{!-- This section is here, because the css wants a section --}}
<h1>SoftUni Accommodation</h1>
<p>Welcome the the home page!</p>
<button><a href="/catalog">Check Listings</a></button>
<button><a href="/create">Create a new Listing</a></button>
</section>